<section class="cart__total">
    <div>Итого к оплате: {{sum}} ₽</div>
    <form class="form" method="post">
        <input class="action" type="submit" value="Оплатить" />
    </form>
</section>
<ul class="coffee__list">
    {{#each drinks}}
    <li>
        <header class="coffee__name">{{name}}</header>
        <img src="{{image}}" alt="{{name}}" />
        <footer>{{price}} ₽</footer>
    </li>
    {{/each}}
</ul>