<section class="cart__total">
  <div>Итого к оплате: {{total}} ₽</div>
  <form class="form" method="post">
    <input class="action" type="submit" value="оплатить" />
  </form>
</section>
<ul class="coffee__list">
  {{#each items}}
  <li>
    <header class="coffee__name">{{name}}</header>
    <img src="{{image}}" alt="{{name}}">
    <footer>{{price}} ₽</footer>
  </li>
  {{/each}}
</ul>
