{{#each history}}
<section class="cart__total"> 
    <p>Пользователь: {{name}}</p> 
    <div>Сумма заказа: {{get_items_total_price order}} ₽</div>
</section>
<ul class="coffee__list">
    {{#each order}}
    <li>
        <header class="coffee__name">{{name}}</header>
        <img src="{{image}}" alt="{{name}}"/>
        <footer>({{price}} ₽)</footer>
    </li>
    {{/each}}
</ul>
{{/each}}