<section class="cart__total">
    <div>История заказов</div>
</section>
{{#each history}}
  <section class="cart__total">
      <div>Итого: {{cost}} ₽</div>
  </section>
  <ul class="coffee__list">
  {{#each cart}}
    <li>
      <header class="coffee__name">{{name}}</header>
      <img src="{{image}}" alt="{{name}}">
      <a href="/buy/{{name}}" class="link action">
      {{!-- В корзину ({{price}} ₽) --}}
      {{price}} ₽
      </a>
    </li>
  {{/each}}
  </ul>
{{/each}}